.warna1 {
    background-color:rgb(107, 96, 66);
}

.warna2 {
    background-color: #c99374;
}

.warna3 {
    background-color: #FFD0C7;
}

.warna4 {
    background-color: #d8bd65;
}


.banner {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/bg.jpg');
}

.highlighted-kategori {
    height: 250px;
}

.kategori-makanan {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/uduk.jpg');
    background-size: cover;
    background-position: center;
}

.kategori-sambal {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/sambal.jpg');
    background-size: cover;
    background-position: center;

}

.kategori-minuman {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/cendol.jpeg');
    background-size: cover;
    background-position: center;

}

.no-decoration {
    text-decoration: none;
    color: white;
}

.no-decoration:hover {
    color: #FFD0C7;
}

.nav-link {
    color: azure;
}

.text-harga{
    font-size: 20px;
    color: rgb(4, 121, 82);
}

.image-box {
    height: 200px;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content-subscribe {
    background-color: rgba(0,0,0,0.7);
}

.content-subscribe a {
    color: #fff;
}

.banner2 {
    height: 45vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/bg.jpg');
    background-position: 50% 35%;
}

.produk-terkait-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

