.warna1 {
    background-color:bisque;
}

.warna2 {
    background-color: #E69DB8;
}

.warna3 {
    background-color: #FFD0C7;
}

.warna4 {
    background-color: #FFFECE;
}


.banner {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/bg.jpg');
}

.highlighted-kategori {
    height: 250px;
}

.kategori-makanan {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/image/uduk.jpg');
    background-size: cover;
    background-position: center;
}

.kategori-sambal {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/sambal.jpg');
    background-size: cover;
    background-position: center;

}

.kategori-minuman {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/cendol.jpeg');
    background-size: cover;
    background-position: center;

}

.no-decoration {
    text-decoration: none;
    color: white;
}

.no-decoration:hover {
    color: #FFD0C7;
}

.text-harga{
    font-size: 20px;
    color: green;
}

.image-box {
    height: 200px;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content-subscribe {
    background-color: rgba(0,0,0,0.7);
}

.banner-produk {
    height: 30vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../image/IQxgCK2eHWWXB1Vn23En.jpg');
}

.list-group a {
    text-decoration: none;
}